<!doctype html>
<html>
   <body>
   
      <h1>Liste des graphiques d'analyses.</h1>
      <form action = "http://localhost:5000/graph" method = "post">
        <p><input type = "submit" value = "Analyse 1"  name = "form"/></p>
        <p><input type = "submit" value = "Analyse 2" name = "form"/></p>
        <p><input type = "submit" value = "Analyse 3" name = "form"/></p>
        <p><input type = "submit" value = "Analyse 4" name = "form"/></p>
      </form>     
      <form action = "http://localhost:5000" method = "post">
         <p><input type = "submit" value = "<<<" name = "retour"/></p>
      </form>     
   </body>
</html>